.card-cont
    width: 240px
    padding: 10px 10px 15px 10px
    box-shadow: 0 3px 7px #d7d7d7
.card-items
    display: flex
    flex-direction: column
    gap: 3px
.apply-btn
    background-color: #03257e
    color: #fff
    display: flex
    align-items: center
    justify-content: center
    padding: 3px 1px
    cursor: pointer
    transition: 0.3s
    font-size: 14px
    box-shadow: 0 5px 5px #919191
    &:hover
        background-color: #c4d600
.popup-cont
    color: #000000
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 80%
    height: 80vh
    max-width: 1000px
    background-color: #f3f3f3
    padding: 10px
    svg.popup-arrow
        display: none
.close-modal
    padding: 12px
    width: 20px
    height: 20px
    background-color: #c1c1c1
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    position: absolute
    right: 10px
    top: 10px
    i
        font-size: 20px
