
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Poppins', sans-serif

@import ./navbar/navbar.sass
@import ./banner/banner.sass
@import ./cards/cards.sass
@import ./footer/footer.sass
@import ./card/card.sass
@import ./form/form.sass
